@*jumbotron*@
<br />
<!-- Jumbotron -->
<div class="p-5 text-center bg-image rounded-3" style=" background-image: url('https://bioxnet.com/wp-content/uploads/2017/06/que-es-el-storytelling.jpg');
      background-size: contain;
      height: 250px;

">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3" style="color:white">About Us</h1>
                <a class="btn btn-outline-light btn-lg" href="#LearnMore" role="button">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="background-color: white" id="LearnMore">
    <h3 style="color:darkgray"><b>About us</b></h3>
    <p style="font-size:20px">
        Literacy Boost is a book reading website aimed at helping kids between the ages of 5-8 years learn how to read. The website has books in 3 of the 11 official languages of South Africa which are English, IsiXhosa and Afrikaans. 
        We provide easy access to free children’s books, for the fun of reading and writing
        and to promote improved literacy and education.
        Stories are divided into categories according to language, kids have the option to read stories in the language that they want.
        <br />
    </p>
    <br />
    <h3 style="color:darkgray"><b>Vision</b></h3>
    <p style="font-size:20px">The ultimate goal of the Literacy Boost is to make all children's books available at no charge to help those who want to improve their reading and literacy skills.</p>
    <br />
    <h3 style="color:darkgray"><b>Mission</b></h3>
    <p style="font-size:20px">To build literacy skills in homes, schools and communities across South Africa</p>

</div>